html {
	height: 100vh;
}

body {
	background-image: linear-gradient(to right bottom, #fa0, #ffa);
	height: 100%;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
}

.button {
	border-radius: 6px;
	border: 2px solid silver;
	padding: 4px;
	background-image: linear-gradient(to bottom, #eee, #aaa);
}

a:hover {
	color: black;
}

.result {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	padding: 8px;
	margin: 8px;
}